/* --------------- GLOBAL STYLES --------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  min-height: 100vh;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 1.6;
  color: #111827;
  background-color: #f9fafb;
  margin: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.light-text {
  color: #6b7280;
}

.blue-text {
  color: #1447e6;
}

.green-text {
  color: #10b981;
}

.orange-text {
  color: #f97316;
}

.red-text {
  color: #ff0000;
}

.small-txt {
  font-size: 1.1rem;
}

.divider {
  height: 1px;
  width: 50%;
  background-color: #a8a8a8;
  margin: 1rem 0;
  opacity: 0.6;
}

.card-divider {
  height: 1px;
  width: 100%;
  background-color: #a8a8a8;
  margin: 1rem 0;
  opacity: 0.6;
}

/* --------------- COMPONENTS --------------- */

#navbar-btn {
  display: flex;
  align-items: center;
  background: #f9fafb;
  color: #1447e6;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.logout-btn-container {
  padding: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  border: none;
  width: 100%;
  max-width: 40rem;
  padding: 1rem 0;
  border-radius: 0.6rem;
  background: #1447e6;
  color: #f9fafb;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.logout-btn:hover {
  background: #1e40af;
  color: #d4d4d4;
  transform: translateY(-2px);
}

/* --------------- NAVBAR --------------- */

nav {
  background: #1447e6;
  color: #f9fafb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.logo-icon {
  padding: 1rem;
  background: #f9fafb;
  color: #1447e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

small {
  color: #d4d4d4;
}

#smart-icon-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 10rem;
}

.payment-navigation {
  background: #f9fafb;
  position: fixed;
  z-index: 99;
  top: 6.9rem;
  left: 0;
  width: 100%;
  padding: 1.5rem 10rem;
}

/* =========================== PROFILE PAGE =========================== */

/* --------------- PROFILE SECTION --------------- */

.profile-section {
  margin-top: 15rem;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #c2c3c4;
  border-radius: 1.2rem;
  padding: 1rem 0;
  gap: 1rem;
  box-shadow: 0 2px 8px #b1b1b1;
}

#user-profile-avatar i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: #1447e6;
  color: #f9fafb;
  margin: 0 auto;
}

.user-detail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.status-container {
  display: flex;
  gap: 20rem;
}

/* --------------- TOTAL TRIPS SECTION --------------- */

.total-trips-section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  border: 0.8px solid rgba(190, 219, 255, 1);
  border-radius: 1.2rem;
  background: rgba(239, 246, 255, 1);
  color: #1447e6;
  box-shadow: 0 1px 0 #a5b2da;
}

/* --------------- BOOKING SECTION --------------- */

.bookings-section {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 2px 8px #b1b1b1;
}

#booking-status {
  font-size: 1.1rem;
  border-radius: 0.6rem;
  padding: 0.3rem 0.6rem;
  color: #6b7280;
  background: #d8d6d6;
}

#booking-status[data-status="upcoming"] {
  background-color: #96e6b3;
  color: #16a34a;
}

.booking-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 1px solid #d1d5db;
  border-radius: 1.2rem;
  padding: 1.8rem;
}

.bookings-caption-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.booking-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  justify-items: start;
}

.booking-detail {
  display: flex;
  align-items: start;
  gap: 1.5rem;
}

.price {
  display: flex;
  justify-content: space-between;
}

/* =========================== PAYMENT PAGE =========================== */

/* --------------- MAIN --------------- */
.overall-section {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* --------------- ORDER SUMMARY SECTION --------------- */

.order-summary-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 2px 8px #b1b1b1;
}

.order-summary-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.total-amt {
  display: flex;
  justify-content: space-between;
}

.section-footer {
  text-align: center;
}

/* --------------- PAYMENT DETAIL SECTION --------------- */

.payment-details-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2rem 8rem;
  border-radius: 1.2rem;
  box-shadow: 0 2px 8px #b1b1b1;
}

#payment-button {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: #10b981;
  color: #f9fafb;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#payment-button:hover {
  background: #1fa87a;
  color: #d4d4d4;
  transform: translateY(2px);
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.payment-form input {
  padding: 1rem;
  border: 1px solid #a8a8a8;
  border-radius: 1rem;
  width: 40%;
}

.exp-date-and-cvv {
  display: flex;
  justify-content: start;
  gap: 10rem;
}

.exp-date-and-cvv div {
  width: 40%;
}

.exp-date-and-cvv input {
  width: 100%;
}

/* =========================== SEARCH RESULT PAGE =========================== */

/* ---------- Page Margin Adjustment ---------- */
.search-result-page-body {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

/* ---------- Navbar item Adjustment ---------- */
#user-avatar i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: #f9fafb;
  color: #1447e6;
  margin: 0 auto;
}

.user-avatar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* --------------- SEARCH BAR --------------- */
.search-bar {
  width: 91.5%;
  position: fixed;
  top: 11rem;
  z-index: 99;
  border-radius: 1.2rem;
  background: #f9fafb;
  display: flex;
  gap: 65rem;
  box-shadow: 0 2px 8px #b1b1b1;
  padding: 3rem;
}

.search-bar button {
  background: #e4e6eb;
  padding: 1rem;
  border: 1px solid #cccbcb;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.search-bar button:hover {
  background: #f97316;
  color: #f9fafb;
}

/* --------------- MAIN --------------- */

.available-trips {
  margin-top: 23rem;
  display: flex;
  justify-content: space-between;
}

.trip-cards-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}

.trip-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background: #ffffff;
  border: 1.47px solid #e5e7eb;
  border-radius: 1.2rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 6.5rem;
}

.middle {
  display: flex;
  gap: 6rem;
}

.middle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  text-wrap: nowrap;
}

.bus-icon {
  font-size: 5rem;
}

.trip-card a {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: #f97316;
  color: #f9fafb;
  cursor: pointer;
  text-wrap: nowrap;
  transition: all 0.2s ease-out;
}

.trip-card a:hover {
  background: #ff895d;
  color: #f9fafb;
}

.night-trip-badge {
  background: #f97316;
  color: #f9fafb;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
}
