*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f9fafc;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container{
    text-align: center;
    width: 90%;
    max-width: 1100px;
    padding: 40px 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Header */
.header .icon{
    font-size: 40px;
    color: #0056ff;
}

.header h1{
    font-size: 1.8rem;
    color: #222;
    margin-top: 10px;
}

.header h1 span{
    color: #0056ff;
}

/* Features */
.features{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.feature{
    flex: 1 1 280px;
    background: #f7f9fc;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}

.feature:hover{
    transform: translateY(-5px);
    background: #eef3ff;
}

.feature img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
}

.feature h3{
    font-size: 1.1rem;
    color: #222;
    margin-bottom: 10px;
}

.feature p{
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
}

/* Button */
/* button{
    background: #ff7a00;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
} */
a{
     background: #ff7a00;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

a:hover{
    background: #e96b00;
}

/* Stats */
.stats{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #555;
}

.stats strong{
    color: #222;
    font-size: 1.1rem;
}

/* Fade & Slide Animations */
.fade-up{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.visible{
    opacity: 1;
    transform: translateY(0);
}

.delay-1 {transition-delay: 0.2s;}
.delay-2 {transition-delay: 0.4s;}
.delay-3 {transition-delay: 0.6s;}
.delay-4 {transition-delay: 0.8s;}

/* Responsiveness */

@media (max-width: 768px) {
    .features{
        flex-direction: column;
        align-items: center;
    }

    .feature{
        width: 90%;
    }

    .stats{
        flex-direction: column;
        gap: 10px;
    }
}